#nav-bar {
    background-color: #0074D9;
    position: fixed;
    left: 45%;
    top: -60px;
    transition: top 0.3s;
    padding: 10px;
    border-radius: 10px;
}

.full-nav a{
    color: wheat;
    background-color: #0074D9;
    text-decoration: none;
    font-size: large;
}
.full-nav{
    display: flex;
    gap: 20px;
}
.full-nav a:hover {
    background-color: #ddd;
    color: black;
}